*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}
#firstpart {
    /* display:flex; */
    width: 100%;
    height: auto;
    background-image: linear-gradient(101deg, #ffffff 50%, #f6b400 50.1%);
}
.firstpart-content{
    display: flex;
}
@media screen and (max-width: 500px) {
    #firstpart {
        background-image: linear-gradient(280deg, #f6b400 39%, #ffffff 39.2%);
    }
}
.firstpart-content-a h1{
    font-size: xx-large;
    font-size: 52px;
    margin-top: 90px;
    margin-left: 30px;
}
.firstpart-content-a p{
    margin-left: 30px;
    font-size: 24px;
}
#firstpart header{
    height: 7%;
    padding: 1% 2%;
}
@media screen and (max-width: 500px) {
    #firstpart header {
        height: 7%;
        padding: 5% 3%;
    }
}
#firstpart header nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1%;
}
button {
    background-color:orange;
    border-radius: 5px; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 20px;
  }
.logo-g {
    width: 20%;
}
@media screen and (max-width: 500px) {
    .logo-g {
        width: 50%;
    }
}
a.logo-link {
    text-decoration: none;
    display: inline-block;
}
nav img {
    vertical-align: middle;
    width: 5vw;
}

@media screen and (max-width: 500px) {
    nav img {
        vertical-align: middle;
        width: 12vw;
    }
}
p.logo-text {
    display: inline;
    color: #f6b400;
    font-weight: 800;
    font-size: 2.7vw;
    vertical-align: middle;
    font-family: "Sansita Swashed";
}

@media screen and (max-width: 500px) {
    p.logo-text {
        font-size: 6vw;
    }
}

p.logo-text .black {
    color: black;
}

.links {
    width: 80%;
    height: 100%;
    text-align: right;
}
@media screen and (max-width: 500px) {
    .links {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        background-color: #f6b400;
        z-index: 2;
        top: 0.05%;
        right: -100%;
        text-align: center;
        transition: 0.5s ease;
    }
    #check:checked ~ .links {
        right: 0.1%;
    }
}

.links ul {
    display: inline;
}

@media screen and (max-width: 500px) {
    .links ul {
        padding-left: 0;
    }
}
.links li {
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 1.3vw;
    text-transform: capitalize;
    margin: 0 2%;
}
@media screen and (max-width: 500px) {
    .links li {
        list-style-type: none;
        display: block;
        font-weight: 700;
        font-size: 6vw;
        text-transform: capitalize;
        margin: 15% 0;
    }
    .firstpart-content {
        display: flex;
        height: auto;
        align-items: center;
        padding: 12% 0 5% 0;
        /* margin-left: 15%; */
    }
    
    .firstpart-content-a {
        padding-bottom: 5%;
        padding-top: 30%;
        padding-left: 4%;
        padding-right: 10%;
        margin: 15%;
        width: 44%;
        font-size: xx-large;
    }
    
    @media screen and (max-width: 500px) {
        .firstpart-content-a {
            width: 55%;
            padding-left: 9%;
        }
    }
    
    .firstpart-content-a h1 {
        font-size: 20vw;
        font-weight: 700;
        margin: 0;
        line-height: 9vw;
    }
    
    @media screen and (max-width: 500px) {
        .firstpart-content-a h1 {
            font-size: 7vw;
            font-weight: 700;
            margin: 0;
            line-height: 10vw;
        }
    }
    
    .firstpart-content-a h2 {
        margin-top: 7%;
        font-size: 1.5vw;
        line-height: 2.5vw;
        font-weight: 500;
        color: #615757;
    }
    
    @media screen and (max-width: 500px) {
        .firstpart-content-a h2 {
            margin-top: 7%;
            font-size: 3.5vw;
            line-height: 7vw;
            font-weight: 500;
            color: #615757;
        }
    }
    
    .firstpart-content button {
        cursor: pointer;
        background-color: #fa9529;
        margin-top: 15%;
        margin-left: 7%;
        padding: 3% 6%;
        border: none;
        color: #fff;
        font-size: 1.3vw;
        border-radius: 5vw 5vw 0 5vw;
    }
    
    @media screen and (max-width: 500px) {
        .firstpart-content button {
            font-size: 3vw;
            padding: 7% 10%;
        }
    }
    
    .firstpart-content-b {
        width: 56%;
        justify-content: center;
    }
    
    @media screen and (max-width: 500px) {
        .firstpart-content-b {
            width: 45%;
            overflow: hidden;
        }
    }
    
    .firstpart-content-b img {
        width: 30vw;
        height: auto;
        margin-top: -20%;
        margin-left: 5%;
        justify-content: center;
        
    }
    
    @media screen and (max-width: 500px) {
        .firstpart-content-b img {
            /* position: relative; */
            width: 60vw;
            height: auto;
            margin-top: 10%;
            margin-left: 0;
        }
    }
}
/* Services Section Styling */
#services {
    background-color: #f7fdf6;
    display: flex;
    padding: 10% 5%;

    justify-content: center;
}
.delivery {
    text-align: center;
    border: solid 0.15vw #550312;
    border-radius: 1vw;
    padding: 9% 5% 5% 5%;
    margin: 0 2%;
    height: auto;
    width: 40%;
}
.quality,
.tasty {
    text-align: center;
    border: solid 0.15vw #550312;
    border-radius: 1vw;
    padding: 5% 3%;
    margin: 4% 2%;
    height: auto;
    width: 30%;
}
.quality svg,
.delivery svg,
.tasty svg {
    width: 7vw;
    height: 7vw;
    color: #f6b400;
}

.quality h3,
.delivery h3,
.tasty h3 {
    color: #550312;
    text-transform: capitalize;
    font-size: 2vw;
}

.quality p,
.delivery p,
.tasty p {
    font-size: 1.1vw;
    line-height: 2vw;
}
/* Menu Styling */
#menu {
    display:flex;
    padding: 10% 5%;
    width:100%;
    display: flex;
    justify-content: center;
    
    
}

.cards {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menu .title {
    text-align: center;
    justify-content: center;
    
}

#menu .title h3 { 
    
    text-transform: capitalize;
    font-size: 2.5vw;
    color: #f6b400;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#menu .title h3 span {
    color: black;
    align-items: center;
    justify-content: center;
}

#menu hr {
    background-color: #fa9529;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    margin-top: 2%;
    width: 8%;
    height: 0.7vw;
    justify-content: center;
    align-items: center;

}
.cards {
    display:flex;
}
.card {
    width: 30vw;
    height: 44vh;
    position: relative;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    border-radius: 3vw;
    padding: 3%;
    margin-top: 5%;
    text-align: center;
    overflow: hidden;
    display: flex;
}
.card .ribbon {
    font-weight: bold;
    font-size: 1.1vw;
    width: 50%;
    padding: 2% 5%;
    text-align: center;
    transform: rotate(40deg);
    text-transform: capitalize;
    background-color: #ff6d21;
    position: absolute;
    margin-top: -3%;
    margin-left: 48%;
    color: #fff;
}

.card img {
    width: 10vw;
    
}

.card h3 {
    text-transform: uppercase;
    color: #550312;
    font-size: 2vw;
}

.card p {
    font-size: 1vw;
    line-height: 1.8vw;
}

.card div {
    padding: 7% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card div .price {
    font-size: 1.5vw;
    font-weight: 700;
    padding-left: 2%;
}

.card div .icon {
    width: 5.5vw;
    background-color: #e1ebe6;
    padding: 1.5% 7%;
    border-radius: 1vw;
}

.card div .add-to-cart {
    font-size: 1.5vw;
    font-weight: 500;
    background-color: #e1ebe6;
    padding: 4% 7%;
    border-radius: 1vw;
    color: #5d9676;
}

.card div .add-to-cart .quantity {
    color: #000;
    font-weight: 700;
}
#slider {
    background-color: #f7fdf6;
    display: flex;
    padding: 10% 6%;
}

.info {
    width: 50%;
}

.info h3 {
    font-size: 5vw;
    font-weight: 900;
    text-transform: capitalize;
    color: #f6b400;
}

.info h3 .black {
    color: black;
}

.info p {
    color: #615757;
    font-size: 1.7vw;
    font-weight: 500;
}

.info .controls {
    display: flex;
    align-items: center;
    font-size: 6vw;
    color: #c4c4c4;
    align-self: center;
}

.info .controls .first {
    color: #ff6d21;
    padding: 2%;
}

.info .controls .second,
.info .controls .third {
    padding: 2%;
}

.info .controls .arrow {
    color: #fa9529;
    font-size: 6vw;
    padding-left: 5%;
    transform: rotate(-45deg);
    margin-top: 3%;
}

.image-slider {
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.image-slider .front {
    width: 30vw;
    /*width: 70%; would also work well but I am using vw units for consistency*/
    position: absolute;
    margin-bottom: -10%;
}

.image-slider .back {
    width: 40vw;
}

/* CALL TO ACTION */
#cta {
    background-color: #f6b400;
    display: flex;
    padding: 10% 5%;
}
#cta .platform {
    padding: 5% 5% 5% 0;
    width: 45%;
}

#cta .platform h3 {
    font-size: 3.5vw;
    font-weight: 700;
}

#cta .platform .apple-android {
    display: flex;
    justify-content: flex-start;
}

#cta .platform .apple-android img {
    width: 15vw;
    padding: 0 3%;
    margin-left: -3%;
    cursor: pointer;
}

#cta .mobile-mockups {
    width: 55%;
    display: flex;
    justify-content: space-around;
}

#cta .mobile-mockups img {
    background-color: #fff;
    width: 20vw;
    border-radius: 2.8vw;
    border: none;
    outline: none;
    box-shadow: -1vw 1vw 1vw rgba(0, 0, 0, 0.2);
}
#cta_1 {
    background-color: #f7fdf6;
    display: flex;
    padding: 5% 6%;
    justify-content: space-between;
}

#cta_1 .footer-logo {
    display: flex;
    align-items: center;
}

#cta_1 .footer-logo .logo-link {
    display: flex;
    align-items: center;
}
#cta_1 .footer-logo .logo-link img {
    width: 5vw;
}

.sitemap {
    text-align: left;
}
.sitemap h3 {
    font-size: 2vw;
}

.sitemap ul {
    margin-top: 2%;
}

.sitemap ul li {
    list-style-type: none;
    text-transform: capitalize;
    font-size: 1vw;
    font-weight: normal;
    padding: 5% 0;
    text-align: center;
}

.sitemap ul li a:hover {
    border: none;
    color: #f6b400;
}

.newsletter {
    font-size: 2vw;
}

form div {
    display: flex;
}

form h3 {
    margin-bottom: 5%;
}

form .form-field {
    padding: 3% 6% 3% 3%;
    border: solid 0.1vw rgba(0, 0, 0, 0.3);
    border-radius: 0.5vw 0 0 0.5vw;
    font-size: 1vw;
}

form .form-button {
    background-color: #f6b400;
    border: none;
    outline: none;
    color: #fff;
    padding: 2.8% 6%;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 0 0.5vw 0.5vw 0;
}

/* ----------------- footer section styling --------------*/
footer {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 0.9vw;
}

footer span {
    width: 30%;
}

.social-icons {
    text-align: center;
    margin: 0 2%;
}

.social-icons svg {
    margin: 0 2%;
    cursor: pointer;
    width: 1.5vw;
}

.social-icons svg:hover {
    color: #f6b400;
}

.developer {
    text-align: right;
}